<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>BCA CS Camp</title>
</head>
<body>
    <h1 class="w-full bg-pink-500">BCA CS Camp</h1>
    <div>
        <div>
            Home
        </div>
        <div>
            Scavenger Hunt Pictures
        </div>
        <div>
            Leaderboard
        </div>
        
    </div>
</body>
</html>