section {
    text-align: center;
}

section * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.password-reveal {
    cursor: pointer;
}

.family {
    flex: 1;
    margin: 0.75em;
    outline: 1px solid black;
    border-radius: 15px;
}

.family-container {
    display: flex;
}

.scav-hunt-img {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.holder {
    display: flex;
    margin: 1vw;
}

.leaderboard-container {
    flex: 7;
    max-height: 80vh;

}

.schedule-container {
    flex: 3;
}

.points-input {
    width: 10vw !important;
}

.notification {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5vw;
}

#scavenger-hunt-preview, #uploaded-images, #scavenger-hunt-hints {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#scavenger-hunt-preview img, #uploaded-images div, #scavenger-hunt-hints img {
    height: 25vh;
    object-fit: cover;
    margin: 0.5vw;
}

#uploaded-images div img {
    height: 80%;
    display: flex;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .holder {
        flex-direction: column;
    }

    .family-container {
        flex-direction: column;
    }

    .points-input {
        width: 75vw !important;
    }

    #scavenger-hunt-preview, #uploaded-images, #scavenger-hunt-hints {
        width: 95vw;
        flex-direction: column;
    }

    #scavenger-hunt-preview img, #uploaded-images div, #scavenger-hunt-hints img {
        margin-left: auto;
        margin-right: auto;
    }
}
