.password-reveal {
    cursor: pointer;
}

section {
    text-align: center;
}

section * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.family {
    flex: 1;
    margin: 0.75em;
    outline: 1px solid black;
    border-radius: 15px;
}

.family-container {
    display: flex;
}

.scav-hunt-img {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scavenger-hunt-preview, #uploaded-images {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#scavenger-hunt-preview img, #uploaded-images div {
    height: 10vw;
    object-fit: cover;
    margin: 0.5vw;
}

#uploaded-images div img {
    height: 80%;
    display: flex;
}

.holder {
    display: flex;
    margin: 1vw;
}

.leaderboard-container {
    flex: 7;
    max-height: 80vh;

}

.schedule-container {
    flex: 3;
}
